:root {
  --size: 50px;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #1c1919;
  font-weight: 300;
}

.menu {
  height: 810px;
  width: 180px;
  background-color: #303030;
  border-radius: 10px;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 10px;
}

.page-body {
  height: 810px;
  width: 1230px;
  border-radius: 10px;
  background-color: #303030;
}

.bar-element {
  letter-spacing: 0.25px;
  position: relative;
  display: block;
  line-height: 36px;
  font-size: 16px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  color: #c6c5c5;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.bar-element:hover {
  border-color: #ffc222;
  border-radius: 10px;
}

.user-account {
  padding-left: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 50px;
  height: 50px;
  width: 175px;
  background-color: #ffc222;
}

.icon-trash-o,
.icon-star-o,
.icon-calendar,
.icon-sun,
.icon-tasks,
.icon-search,
.icon-star {
  line-height: 36px;
  padding-left: 5px;
  color: #ffc222;
}

.bar-element-search {
  border-radius: 10px;
  width: 177px;
  line-height: 36px;
}
.bar-element-search input {
  border: 0;
}

body * {
  scrollbar-width: thin;
  scrollbar-color: #a19f9d transparent;
  scrollbar-color: var(--bg-scrollbar) transparent;
}

.todo-title {
  padding: 10px 20px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  line-height: 18px;
  font-size: 36px;
  color: #c6c5c5;
}

.todo-new {
  --size: 50px;
  display: flex;
  margin: 16px 0 32px;
  border: 1px solid transparent;
}

.todo-new input {
  margin: 0 16px;
  font-size: 18px;
  padding: 0 16px;
  height: var(--size);
  border-radius: 10px;
  flex-grow: 1;
}

.todo-add,
.todo-task-edit {
  cursor: pointer;
  text-align: center;
  line-height: var(--size);
  font-size: 24px;
  color: #c6c5c5;
  height: var(--size);
  width: var(--size);
  border: 1px solid transparent;
}

.todo-add:hover,
.todo-task-edit:hover {
  border: 1px solid #ffc222;
  border-radius: 10px;
}

.todo-task {
  cursor: default;
  --size: 36px;
  display: flex;
  min-height: var(--size);
  align-items: center;
  color: #a19f9d;
  border: 1px solid transparent;
  background-color: rgb(255, 194, 34, 0.1);
  border-radius: 10px;
  margin-left: 20px;
}
.todo-task-complete .todo-task-title {
  text-decoration: line-through;
}

.todo-checkbox {
  margin: 0 16px;
}
.todo-checkbox input {
  display: none;
}
.todo-checkbox input:checked + div {
  background-color: #ffc222;
}
.todo-checkbox input:checked + div::after {
  display: block;
}

.todo-checkbox div {
  cursor: pointer;
  --size: 28px;
  height: var(--size);
  width: var(--size);
  border: 1px solid #ffc222;
  border-radius: 5px;
  position: relative;
}

.todo-checkbox div::after {
  color: #1c1919;
  content: "✓";
  text-align: center;
  line-height: var(--size);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.todo-task-edit {
  margin-left: auto;
  margin-right: 0;
  font-size: 24px;
  justify-content: center;
}

.todo-task-title {
  font-size: 20px;
}

.todo-list > *:not(:last-child) {
  margin-bottom: 8px;
}

.todo-task-settings {
  cursor: default;
  --size: 18px;
  display: flex;
  min-height: var(--size);
  align-items: center;
  color: #a19f9d;
  border: 1px solid transparent;
  background-color: rgba(149, 124, 64, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 20px;
}

.todo-task-changing {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.todo-task-options {
  margin-left: auto;
  margin-right: 5px;
  font-size: 24px;
  display: grid;
  grid-template-columns: auto auto;
}

.todo-task-important,
.todo-task-del {
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  line-height: var(--size);
}

.todo-task-date-time {
  margin: 0 16px;
}
